body {
    text-align: center;
    margin: 5em 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 0;
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.logo {
    width: 20em;
    padding-bottom: 3em;
}